<div id="bootstrap-overrides" class="sidebar">
  <div class="logo">
    <a [routerLink]="['/artikel']"><img src="../../assets/oth-wiki.svg" alt="logo" /></a>
  </div>


  <mat-divider></mat-divider>

  <div class="navigation">
    <ng-container *ngIf="!(categories === null)">
      <ul>
        <!-- Iteriert durch alle Kategorien durch -->
        <li *ngFor="let Kategorie of categories; let i = index">
          <div class="category">{{Kategorie.kategorie}}</div>

          <ul>
            <!-- Iteriert durch alle zugehörigen Artikel -->
            <li *ngFor="let Artikel of Kategorie.artikel; let z = index">
              <a [routerLink]="['/artikel/', Artikel.artikel_id]">{{Artikel.artikel_name}}</a>
            </li>
          </ul>

          <!-- Alle Subkategorien -->
          <ul *ngIf="!(Kategorie.subkategorien === null)">
            <!-- Iteriert durch alle 1. Subkategorien -->
            <li *ngFor="let Subkategorie of Kategorie.subkategorien; let y = index">
              <div class="subcategory">{{Subkategorie.kategorie}}</div>
              <ul>
                <!-- Iteriert durch alle Artikel der 1. Subkategorien -->
                <li *ngFor="let Subkategorieartikel of Subkategorie.artikel; let x = index">
                  <a
                    [routerLink]="['/artikel/', Subkategorieartikel.artikel_id]">{{Subkategorieartikel.artikel_name}}</a>
                </li>
              </ul>
              <!-- Iteriert durch alle 2. Subkategorien -->
              <ul *ngIf="!(Kategorie.subkategories === null)">
                <li *ngFor="let Subkategorie1 of Subkategorie.subkategorien; let c = index">
                  <div class="subcategory">{{Subkategorie1.kategorie}}</div>
                  <ul>
                    <!-- Iteriert durch alle Artikel der 2. Subkategorien -->
                    <li *ngFor="let Subkategorie1artikel of Subkategorie1.artikel; let x = index">
                      <a
                        [routerLink]="['/artikel/', Subkategorie1artikel.artikel_id]">{{Subkategorie1artikel.artikel_name}}</a>
                      <!-- möglichkeit gleich link mit artikel id einzubinden? -->
                      <!-- oth-wiki.de/article/[Subkategorie1artikel.artikel_id] -->
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>


        </li>
      </ul>
    </ng-container>

    <mat-divider></mat-divider>

    <button routerLink="/new_artikel" class="btn-outline-primary btn editor-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
        viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
      </svg>
      New Article

    </button>

  </div>
</div>