@import "~font-awesome/css/font-awesome.min.css";

body {
	margin: 0;
}
a {
	background-color: transparent;
}
a:active,a:hover {
	outline: 0;
	color: #A16200 !important;
}

.mat-divider {
    background-color: lightgray;
	margin: 20px 0;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0.3em 0 0 0;
}

img {
	border: 0;
	max-width: 100%;
    padding: 3%;
}

a, a:visited {
	color: white;
	text-decoration: none;
	font-family: sans-serif;
}


.sidebar h3 {
	font-size: 0.90em;
	color: #F29400;
	font-weight: normal;
	margin: 0.5em 0 0 0;
	padding: 0.25em 0;
	cursor: default;
	border: 0;
	border-bottom: 1px solid #F29400;
}
.sidebar li {
	line-height: 1.125em;
	margin: 0;
	padding: 0.25em 0;
	font-size: 0.85rem;
	word-wrap: break-word;
}
.logo {
	margin-bottom: 20px;
}
.navigation {
	padding: 0.15em 0 0 0.45em;
}
.mainsection {
	margin: 0 0 0 11em;
}


.sidebar h3 {
	font-family: sans-serif;
	line-height: 1.125em;
	font-size: 0.85rem;
	margin: 1.5em 0 0 0;
}

.category{
	border-bottom: 1px solid #F29400;
	line-height: 1.6;
	color: #F29400;
	font-size: 1.2rem;
}

.subcategory{
	line-height: 1.4;
	color: #F29400;
	font-size: 0.98rem;
}

.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  }

button{
	margin-top: 20px;
}

.fa-pencil{
	margin-left: 3px;
}

.bi-plus-circle{
	top: -1px;
	position: relative;
	margin-left: 2px;
}

/*Überschreibt Bootstrap*/
#bootstrap-overrides button {
    color: #F29400;
}

#bootstrap-overrides button {
    color: #F29400;
    border-color: #F29400;
}


#bootstrap-overrides button:hover {
	color: white;
    background-color: #F29400;
    border-color: #F29400;
}


#bootstrap-overrides button:active {
    background-color: #F29400;
    border-color: #F29400;
}
/*End Überschreibt Bootstrap*/