.content {
    margin: 16px 36px 36px 36px !important;
}
mat-toolbar {
    background: #F6F6F6;
    color: white;
}

mat-sidenav {
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 40px 20px 20px 20px;
    text-align: center;
}

button{
    margin-left: 40px;
}

.mat-icon{
    color: #F29400;
}

.mat-focus-indicator::before {
    border: none;
}


.content {
    height: auto;
    border-radius: 10px;
    margin-left: 32px;

    /* display: flex;
    justify-content: center;
    align-items: center; */

    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    height: auto;
}

.mat-drawer-container {
    background-color: #F6F6F6;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    display: block;
    padding: 0;
}

.mat-icon-button{
    color: black;
    padding-left: 40px;
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
    padding-left: 50px;
    top: 50px;
}


.mat-icon{
    left: -31px;
    position: relative;
}

 /*Tablet & Mobile*/
 @media screen and (max-width: 800px) {
    .mat-toolbar-row, .mat-toolbar-single-row {
        margin: -32px 0px 0px 0px;
    }

    .content {
        margin: 16px 36px 16px 36px !important;
    }
    
}

 /*Tablet & Mobile*/
 @media screen and (max-width: 992px) {

    .content {
        margin: 28px 36px 16px 36px !important;
    }
    
    mat-sidenav {
        margin: 28px 16px 16px 16px !important;
    }
}
