<body id="bootstrap-overrides">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Container wrapper -->
      <div class="container-fluid header-container">
        <!-- Navbar brand -->

        <!-- Toggle button -->
          <button
          #myDiv
          class="navbar-toggler"
          type="button"
          (click)="basicNavbar.toggle(); menuClick()"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-bars"></i>
        </button>

    
        <!-- Collapsible wrapper -->
        <div
          class="collapse navbar-collapse"
          id="navbarSupportedContent"
          mdbCollapse
          #basicNavbar="mdbCollapse"
        >
          <!-- Left links -->
          <div class="links">
              <a class="hover-effect" href="https://moodle.oth-aw.de" target="_blank" rel="noopener noreferrer">Moodle</a> 
              <a class="hover-effect" href="https://www3.primuss.de/cgi-bin/login/index.pl?FH=fhaw" target="_blank" rel="noopener noreferrer">Primuss</a> 
              <a class="hover-effect" href="https://webmail.oth-aw.de/gw/webacc" target="_blank" rel="noopener noreferrer">Webmail</a> 
          </div>
          <!-- Left links -->
    
          <!-- Search form -->
          <form class="d-flex input-group w-auto">
            <input
              #searchInput
              type="search"
              class="form-control"
              placeholder="Was suchst du?"
              aria-label="Search"
            />
            <button type="submit" (click)="submitSearch(searchInput.value)" class="btn-color search-submit btn-outline-primary btn search">
              <i class="fa fa-search search" aria-hidden="true"></i>
          </button>
          </form>
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </body>