<button class="btn-outline-primary btn editor-btn" (click)="CreateButtonClick()">
    Kategorie erstllen
</button>
<button class="btn-outline-primary btn editor-btn" (click)="DeleteButtonClick()">
    Kategorie löschen
</button>
<mat-dialog-content>
    <form [hidden]="hideDropdown">
        <h4>Kategorie</h4>
        <mat-form-field appearance="fill">
            <mat-label>Artikel Kategorie</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="cat">
                <mat-option *ngFor="let cat of categoriesList" [value]="cat.value">
                    {{ cat.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <form [hidden] = "hideFormField">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="z.B. Kategorie 1" (change)="KategorieUpdated($event)">
          </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Abbrechen</button>
    <button mat-button mat-dialog-close cdkFocusInitial (click)="Submit()">Bestätigen</button>
</mat-dialog-actions>