
<body id="bootstrap-overrides">
    <div class="header-container">


        <div class="menu">
            <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
        </div>

        <div class="links">
            <a class="hover-effect" href="https://moodle.oth-aw.de" target="_blank" rel="noopener noreferrer">Moodle</a> 
            <a class="hover-effect" href="https://www3.primuss.de/cgi-bin/login/index.pl?FH=fhaw" target="_blank" rel="noopener noreferrer">Primuss</a> 
            <a class="hover-effect" href="https://webmail.oth-aw.de/gw/webacc" target="_blank" rel="noopener noreferrer">Webmail</a> 
        </div>
    
    
        <div class="search">
            <div class="input-group">
                <input type="search" class="search-field form-control" placeholder="Was suchst du?" value="" name="s" />
                <div class="input-group-append">
                    <button type="submit" class="btn-color search-submit btn-outline-primary btn">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    
    </div>

</body>



