@import "~font-awesome/css/font-awesome.min.css";

.links {
    margin: 0;
    padding: 0;
    text-align: center;
    flex: 1;
}

.links a {
    font-weight: 500;
    font-size: 25px;
    color: #B0A79D;
    text-decoration: none;
    list-style-type: none;
    line-height: 41px;
    font-size: 20px;
    font-weight: 700;
    padding: 0px 30px;
    visibility: visible;
}

.search:active {
    color: white !important;
}

.search:hover {
    color: white !important;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 4% 6px 4%;
    background-color: #F6F6F6;
}

.navbar-light .navbar-toggler {
    border: none;
}

nav {
    width: 100%;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-toggler{
    margin-left: auto;
}

.w-auto {
    flex: 1 !important;
  }

/*Überschreibt Bootstrap*/
#bootstrap-overrides button {
    color: #F29400;
}

#bootstrap-overrides .btn-color {
    color: #F29400;
    border-color: #F29400;
}


#bootstrap-overrides .btn-color:hover {
    background-color: #F29400;
    border-color: #F29400;
}


#bootstrap-overrides .btn-color:active {
    background-color: #F29400;
    border-color: #F29400;
}

#bootstrap-overrides button:focus {
    box-shadow: 0 0 0 .25rem rgba(253, 157, 13, 0.25);
}

#bootstrap-overrides input:focus {
    color: #292521;
    background-color: #fff;
    border-color: #fed286;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(253, 157, 13, 0.25);
}

/*End Überschreibt Bootstrap*/



/*Hover-Effekt*/
.hover-effect {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 1px;
    position: relative;
    z-index: 2;
    text-decoration: none;
    color: #2C3E50;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 5em;
    font-weight: 600;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.hover-effect:after {
    position: absolute;
    content: "";
    height: 4px;
    width: 1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transition: width 0.9s ease, background-color 1s ease;
    -moz-transition: width 0.9s ease, background-color 1s ease;
    ;
    -ms-transition: width 0.9s ease, background-color 1s ease;
    ;
    -o-transition: width 0.9s ease, background-color 1s ease;
    ;
    transition: width 0.9s ease, background-color 1s ease;
    ;
    top: 25px;
}

.hover-effect:hover {
    color: #F29400 !important;
    -webkit-transition: color 0.9s ease;
    -moz-transition: color 0.9s ease;
    -ms-transition: color 0.9s ease;
    -o-transition: color 0.9s ease;
    transition: color 0.9s ease;
}

.hover-effect:hover:after,
.hover-effect:focus:after {
    width: 65%;
    background-color: #F29400;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

/*End Hover-Effekt*/


/*Tablet & Mobile*/
@media screen and (max-width: 800px) {

    .links {
        margin-left: 0px;
        margin: 10px;
    }

    .links a{
        display: block;
    }

    .header-container {
        padding: 17px 50px 6px 4%;
        margin: 0;
    }

    .navbar-brand {
        justify-content: center;
        display: flex;
        flex: 1;
        padding: 15px 50px 15px 100px;
    }

    .hover-effect:after {
        margin: 6px auto;
        height: 3px;
    }

    .hover-effect:hover:after, .hover-effect:focus:after {
        width: 85px;
    }
}
