/* You can add global styles to this file, and also import other style files */

@font-face {
	font-family: "Linux Libertine";
	src: url("fonts/LinLibertine_RZ.woff") format('woff');
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	background: url(assets/body-top.png) repeat-x top left #f6f6f6;
}