/* You can add global styles to this file, and also import other style files */

@font-face {
	font-family: "Linux Libertine";
	src: url("fonts/LinLibertine_RZ.woff") format('woff');
}


body {
	background-color: #f6f6f6 !important;
}