.pagefooter {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-bottom: 3em;
	font-size: 75%;
	line-height: 2em;
    background: #F6F6F6;
    height: 80px;
    font-family: sans-serif;
    text-align: center;
	padding: 10px 0px;
	margin-bottom: 20px;
}
.pagefooter a {
	display: inline-block;
	margin-right: 1em;
}

a:active,a:hover {
	outline: 0;
	color: #A16200 !important;
}

a, a:visited {
	color: #F29400;
	text-decoration: none;
	font-family: sans-serif;
}

/*Überschreibt Bootstrap*/
#bootstrap-overrides a:active,a:hover { 
	outline: 0;
	color: #A16200;
  }

  #bootstrap-overrides a, a:visited{ 
	color: #F29400;
	text-decoration: none;
	font-family: sans-serif;
  }
/*End Überschreibt Bootstrap*/


 /*Tablet & Mobile*/
 @media screen and (max-width: 980px) {

	.pagefooter {
		padding-inline-start: 0;
	}
}