.pagefooter {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-inline-start: 15em;
    padding-bottom: 3em;
	font-size: 75%;
	line-height: 2em;
    background-color: #F6F6F6;
}
.pagefooter a {
	display: inline-block;
	margin-right: 1em;
}

