<body id="bootstrap-overrides">
  <div class="c">
    <div class="editor">
      <h1>"Artikel" - Bearbeiten</h1>
      <div class="col-md-12">
        <quill-editor
          [styles]="{ height: '400px' }"
          [modules]="config"
          (onEditorChanged)="changedEditor($event)"
          (onEditorCreated)="createQuill($event)"
          [(ngModel)]="oldText"
        >
        </quill-editor>
      </div>
      <div class="col-md-12 abstand">
        <!-- <quill-view-html [content]="editorText" theme="snow"></quill-view-html> -->
        <!-- <div [innerHTML]="editorText"></div> -->
        <quill-view-html [innerHTML]="editorText"></quill-view-html>
      </div>
      
      <div>
        <mat-form-field class="example-chip-list" appearance="outline">
          <mat-label>Tags</mat-label>
          <mat-chip-list #chipList aria-label="Tag selection">
            <mat-chip *ngFor="let tag of tags" (removed)="removeTag(tag)">
              {{tag}}
              <button matChipRemove value="1">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="Neuer Tag ..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="addTag($event)">
          </mat-chip-list>
        </mat-form-field>  
      </div>


      <nav>
        <div class="editor-btns">
          <button
            routerLink="/artikel"
            class="btn-outline-primary btn editor-btn"
            (click)="onSubmit()"
          >
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <button
            routerLink="/artikel"
            class="btn-outline-primary btn editor-btn"
            (click)="onSubmit()"
          >
            Artikel speichern <i class="fa fa-floppy-o" aria-hidden="true"></i>
          </button>
        </div>
      </nav>
    </div>
  </div>
</body>
