.c {
    margin: 0 0 0 11em;
	/* min-height: calc(100vh - 80px - 120px); */
}

.article {
	background: #FFF;
	line-height: 1.6;
	font-size: 0.875em;
	border-left: 1px solid #A16200;
	border-top: 1px solid #A16200;
	border-bottom: 1px solid #A16200;
	border-right: 1px solid #A16200;
	padding: 40px;
}

@media screen and (max-width: 550px) {
	.c {
		margin: 0 0 0 7em;
	}
}
