<div class="c">
  <div class="article">

      <div class="col-md-12">
        <quill-editor [styles]="{ height: '300px' }" [modules]="editorModule" (onEditorChanged)="changedEditor($event)" [(ngModel)]="oldText">
        </quill-editor>
      </div>
      <div>
        <h3 style="text-align: left">Output</h3>
      </div>
      <div class="col-md-8">
        <quill-view-html [innerHTML]="editorText"></quill-view-html>
      </div>
    <nav>
      <a routerLink="/artikel">Save Article</a>
    </nav>
  </div>
</div>