.container {
    margin: 0 0 0 11em;
    padding-top: 5%;
    padding-right: 5%;
	min-height: calc(100vh - 80px);
}

@media screen and (max-width: 550px) {
	.container {
		width: 20rem;
		/* padding: 3px 0.5em 10px 0.5em; */
	}
}